.nav{
    height: 60px;
}


.main{
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 2em;
    margin-bottom: 1em;    
}


.main__form,.main__output{    
    width: 45%;       
    margin: 0 auto;
    padding-top: 0;

}

.input__textarea{  
    min-height: 380px;
    margin-top: 0;
}
.buttons__btn{ 
    width: 40%;
}

.container__result{
    min-height: 520px;
}

.container__img{
    display: block;
    background-image: url(./icons/Loupe.png);
}

.hero{
    display: none;
}

.footer{
    padding-top: 2em  ;
}

.footer__socials{
    width: 60%;
}


