
.main{
    margin-top: 40px;  
}
.switche{
    width: 60%;
}
main{
    padding-top: 2px;
    padding-bottom: 10px; 
}
.main__form,.main__output{    
    width: 50%;    
}

.input__alert{    
    max-width: 100%;  
    padding: 0.5em;  
    font-size: 1rem;
}

.footer{
    height: 110px;  
    margin: 20px auto;
    padding-top: 2px;
}



.footer__img-link{
    width: 60px;    
    height: 60px; 
    margin: 10px;
}


