.hamburguer, .links{
    visibility: hidden;
}

.links-deployed{
    display: flex;    
    justify-content: space-between; 
    visibility: visible; 
    list-style: none;
}

.links_deployed .links_item{
    font-size: 1.8rem;   
    color: var(--text-color);
}

.main__form{
    width: 70%;  
    max-width: 600px;

}
.input__textarea{   
    font-size: 1.8rem;
    min-height: 300px;
}


.buttons{
    display: flex;    
    justify-content: space-around;
    align-content: center;
    margin-top: 2em;
}


.buttons__btn{ 
    width: 40%;
    margin: 0 auto;   
    font-size: 2.4rem;
}

.main__output{
    width: 70%;
    max-width: 600px;
}
.container__message h5 {

    font-size: 1.6rem;
}


.hero{    
    min-width: 768px; 
    min-height: 400px; 
    max-width: 980px;
    margin: 1em auto;     
    background-size:cover;
}

.footer__socials{
    width: 50%;
}
.social-link{    
    font-size: 1.8rem;
}