.hamburguer-menu, .menu--info-proyect{
    visibility: hidden;
}

.menu--info-project--desplegado ul{
    visibility:visible;
}

.menu--info-project--desplegado ul li a{
    font-size: 1.8rem;
}

.form__inbox textarea{   
    font-size: 1.8rem;
    min-height: 400px;

}
.form__buttons{
    display: flex;    

}
.btn{
    width: 50%;
    margin: 0 0.5em;
    font-size: 2.4rem;
}

.form__outbox--msg h5 {
    padding: 1.4em;
    font-size: 1.6rem;
}

.form__outbox--result textarea{ 
    max-height: 400px;
    font-size: 1.8rem;
    margin-bottom: 2em;
}

.hero__img{    
    min-width: 768px; 
    min-height: 400px; 
    max-width: 980px;
    margin: 10px auto;     
    background-size:cover;
}

footer .left ul li a{    
    font-size: 1.8rem;
}

.right a{     
    font-size: 1.8rem;
}