:root{
    --background-color:white;
    --text-color:black; 
    --text-color-hover:red ; 
    --background-button: #052051;
    --text-color-button: white;



    --dark-blue-500: #052051;
    --dark-blue-400: #072B61;
    --dark-blue-300:#0A3871;
}

@media(prefers-color-scheme: dark){
    :root{
        background-color:var(--fondo-oscuro);
        color:var(--texto-claro);
    }
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html{
    font-size: 62.5%;  /*1rem = 10px*  1em = 10px*/  
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

body{
    color: var(--text-color);
    background-color: var(--background-color); 
    
}

.dark-mode{
    --background-color:black;
    --text-color:white; 
    --background-button:white;
    --text-color-button:#0A3871;    
    background-color:var(--background-color);
    color:var(--texto-claro);
    
}

header{
    width: 100%;
    min-width: 320px;
    box-shadow: 10px 14px 12px -10px rgba(0,0,0,0.33);
}
nav{
    display: flex;  
    justify-content: space-around;
    align-items: center;   
    height: 80px;
}

.nav__menu{ 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;    
}

.hamburguer-menu{
    width: 30px;
    height: 30px;
    margin: 2em; 
    cursor: pointer;    
}


.hamburguer-menu:hover{
    transform: scale(1.2);
}

.menu--info-proyect{    
    position: absolute;
    z-index: 1000;
    display: none;
    width: 200px;      
    top: 80px;
    background:var(--fondo-blanco);     
    border-radius: 0 0 20px 0;
}  

.menu--info-project--desplegado ul{
    visibility: hidden;
    display: flex;    
    justify-content: space-between;    

}

.menu--info-project--desplegado ul li{
    margin: 0.5em;
      
}

.menu--info-project--desplegado ul li a , .menu--info-proyect ul li a{ 
    font-size: 1.6rem;   
    color: var(--text-color);
    text-decoration: none;   
}

.menu--info-project--desplegado ul li a:hover{    
    color:var(--text-color-hover);
    border-radius: 5px;
     
}

.menu--info-proyect ul li a:hover{    
    color:var(--text-color-hover);
}


.menu--info-proyect ul{
    display: flex;
    flex-direction: column;    
    padding-left: 1.5em;
    color: var(--text-color);
  
}

.menu--info-proyect ul li{
    margin: 0.5em;
    padding: 0.5em;
}

.menu-abierto{
    display:block;
}
   
.nav__menu p{
    visibility: hidden; /*Decido esto para que respete el espacio despues del menu hamburguesa*/
    font-size: 1.6rem;
    
}
.nav__icons{
    width: 50%;
    display: flex; 
    justify-content: flex-end;
    align-items: center;       
    text-align: center;  
}

.nav__icons a{
    width: 80px;   
    height: auto;       
}

.nav__icons img{
    width: 70%;
    margin: 0.5em auto;       
}

main{
    width: 100%;
    min-width: 320px;      
}

.form__box{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;  
 

}

.form__inbox{    
    width: 100%;       
    min-width: 320px;        
    margin: 0 auto;  
    margin-top: 2em;
    padding: 0.5em; 
    border-radius: 20px;

}

.form__inbox textarea{
    width: 80%;  
    min-height: 300px;    
    margin: 0 auto; 
    padding: 1em;    
    font-size: 1.6rem;  
    color: var(--text-color);
    text-align: center;      
    background: var(--background-color);  
    border: none;
    resize: none;     
}

.form__buttons{
    width: 70%; 
    margin: 0 auto;
    padding: 1em;
}

.form__inbox p{    
    padding-left: 3em;
    padding-top: 1em;
    font-size: 1.2rem;
    text-align: left;  
    font-style: italic;
    color: red;
}

.btn{
    width: 100%;
    margin: 1em auto;
    min-height: 50px;
    padding: 1em;  
    font-size: 2.2rem;   
    border: 1px solid var(--background-color);
    border-radius: 20px;
    cursor: pointer;
    border: var(--dark-blue-300) solid #000;
    transition: 1s background;
    box-shadow: 16px 20px 18px -8px rgba(0,0,0,0.33);
}

.btn:hover{    
    transform: scale(1.1);
}

.encriptar{
    background: var(--background-button);
    color: var(--text-color-button);

}
.desencriptar{
    background: var(--background-button);
    color: var(--text-color-button);   
}

.outbox-container{
    width: 90%;
    min-width: 320px;
    margin: 0 auto; 
    border-radius: 20px;
}

.form__outbox{    
    width: 100%;  
    margin: 0 auto;
    margin-top: 1em;
    padding-bottom: 2em;
    background: var(--white);
    border-radius: 20px;
   /* height: 50hv;*/
}

.form__outbox--img{
    display: none;
    width: 70%;    
    margin: 0 auto;       
}

.form__outbox--img img{
    width: 100%;
    margin:0 auto;
}

.form__outbox--msg{
    width: 100%;
    min-width: 250px;
    max-width: 600px;
    min-height: 100px;
    margin: 0 auto;
    color: var(--text-color);
    text-align: center;
    line-height: 2rem;
}

.form__outbox--msg h4{
    padding: 2em;
    font-size: 1.8rem;
    font-weight: 600;
}

.form__outbox--msg h5{
    padding: 1em;
    font-size: 1.2rem;
}

.ocultar{
    display:none;
}

.form__outbox--result{
    display: none; 
    width: 100%; 
    margin: 0 auto; 
    text-align: center;
    border-radius: 20px; 
   
}

.form__outbox--result h1{
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.form__outbox--result textarea{
    width: 90%;
    min-height: 200px;
    margin: 0 auto;    
    margin-bottom: 2em;
    padding-bottom: 1em;
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);     
    border: none;    
    resize: none;  
}

.form__outbox--btncopiar{
    display: block;
    width: 70%;   
    height: 80px;
    margin: 0 auto;    
}

.copiar{
    margin: 0 auto;  
    background: var(--background-button);
    color: var(--text-color-button);
}



.hero__img{
    width: 90%;    
    min-width: 300px; 
    max-width: 450px;
    min-height: 200px; 
    margin: 10px auto;     
    background-image: url(./img/oracle.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;    
    background-color:var(--background-color);
    box-shadow: 16px 20px 18px -8px rgba(0,0,0,0.33);

}

footer{
    display: flex;  
    width: 100%;
    min-width: 320px;   
}

footer section{
    display:flex;
    width: 50%;
    margin: 0 auto; 
    list-style: none;    
    padding: 2em;
}

footer .left ul{    
    font-size: 1.6rem; 
    list-style: none;      
    padding: 1em;
}

footer .left ul:first-child{
    color: purple;
}

.left li{
    padding: 0.5em;
}

.left a{
    text-decoration: none;  
    color: var(--text-color);
    font-size: 1.6rem;
}

.left a:hover{
    text-decoration: none;
    color:var(--text-color-hover);
}

.right{
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-start;
      
}

.right img{
    display: block;
    width: 50px;
    height: 50px;   
    margin: 0.5em;
}

.right a{     
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;    

}
.right a:hover{
    color:var(--text-color-hover);
}
